openapi: 3.1.0
info:
  title: Harmonica API
  version: 1.0.0
  description: |
    REST API for the Harmonica structured deliberation platform.
    Provides access to sessions and their data, including creating, updating, and querying sessions, plus response submission for active sessions.
  contact:
    name: Harmonica
    url: https://harmonica.chat

servers:
  - url: https://app.harmonica.chat/api/v1
    description: Production
  - url: http://localhost:3000/api/v1
    description: Local development

security:
  - apiKey: []

components:
  securitySchemes:
    apiKey:
      type: http
      scheme: bearer
      description: |
        API key authentication. Pass your key as a Bearer token.
        Keys use the format `hm_live_<32 hex chars>`.
        Generate keys from your Harmonica dashboard settings.

  schemas:
    Session:
      type: object
      properties:
        id:
          type: string
          format: uuid
        topic:
          type: string
        goal:
          type: string
        critical:
          type: string
          nullable: true
        context:
          type: string
          nullable: true
        prompt:
          type: string
          nullable: true
          description: Custom facilitation prompt for the session's AI facilitator
        status:
          type: string
          enum: [active, completed]
        summary:
          type: string
          nullable: true
        session_md:
          type: string
          nullable: true
          description: Structured SESSION.md brief (auto-generated after summary)
        participant_count:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, topic, goal, status, participant_count, created_at, updated_at]

    SessionListItem:
      type: object
      description: Abbreviated session object returned in list endpoints.
      properties:
        id:
          type: string
          format: uuid
        topic:
          type: string
        goal:
          type: string
        status:
          type: string
          enum: [active, completed]
        participant_count:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, topic, goal, status, participant_count, created_at, updated_at]

    PublicSessionListItem:
      type: object
      description: Session object returned by the public discovery endpoint. Extends SessionListItem with a join URL.
      properties:
        id:
          type: string
          format: uuid
        topic:
          type: string
        goal:
          type: string
        status:
          type: string
          enum: [active]
        participant_count:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        join_url:
          type: string
          format: uri
          description: Direct URL for participants to join the session
      required: [id, topic, goal, status, participant_count, created_at, updated_at, join_url]

    Question:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        position:
          type: integer
      required: [id, text, position]

    Participant:
      type: object
      properties:
        participant_id:
          type: string
          format: uuid
        participant_name:
          type: string
          nullable: true
        active:
          type: boolean
          description: Whether the participant is still in conversation
        messages:
          type: array
          items:
            $ref: '#/components/schemas/Message'
      required: [participant_id, participant_name, active, messages]

    Message:
      type: object
      properties:
        id:
          type: string
          format: uuid
        role:
          type: string
          enum: [user, assistant]
        content:
          type: string
        created_at:
          type: string
          format: date-time
      required: [id, role, content, created_at]

    ResponseSubmission:
      type: object
      properties:
        content:
          type: string
          minLength: 1
          maxLength: 10000
      required: [content]

    ResponseCreated:
      type: object
      properties:
        id:
          type: string
          format: uuid
        session_id:
          type: string
          format: uuid
        content:
          type: string
        created_at:
          type: string
          format: date-time
      required: [id, session_id, content, created_at]

    UserInfo:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
          nullable: true
        subscription_status:
          type: string
          enum: [FREE, PRO, ENTERPRISE]
        api_key:
          type: object
          properties:
            name:
              type: string
              nullable: true
            key_prefix:
              type: string
            created_at:
              type: string
              format: date-time
            last_used_at:
              type: string
              format: date-time
              nullable: true
      required: [id, email, subscription_status, api_key]

    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
      required: [total, limit, offset]

    CreateSessionRequest:
      type: object
      description: Request body for creating a new session.
      properties:
        topic:
          type: string
          description: Session topic / title
        goal:
          type: string
          description: What the session aims to achieve
        context:
          type: string
          description: Background context for participants (e.g. SESSION.md from a prior session)
        critical:
          type: string
          description: Critical question or constraint
        prompt:
          type: string
          description: |
            Custom facilitation prompt. If omitted, a prompt is auto-generated server-side
            from the topic, goal, context, and critical fields. Falls back to a basic
            facilitation prompt if generation fails.
        template_id:
          type: string
          description: ID of a template to use
        questions:
          type: array
          items:
            type: object
            properties:
              text:
                type: string
            required: [text]
          description: Pre-session questions shown to participants before facilitation begins
        cross_pollination:
          type: boolean
          default: false
          description: Enable cross-pollination of ideas between participant threads
        widgets_enabled:
          type: boolean
          default: false
          description: |
            Enable AI-emitted Polls and ratings widgets (SingleSelect,
            MultiSelect, RatingScale, RankingList) during the session. When
            true, the facilitator may call widget tools mid-conversation to
            present interactive inputs instead of plain text questions.
        results_visibility:
          type: string
          enum: [public, participants, host]
          default: host
          description: |
            Who can see aggregated session results.
            - `host` (default) — only the session owner can see results.
            - `participants` — anyone who completed the session can see what
              others said (drives the end-of-chat "See what others said" link).
            - `public` — anyone with the session URL can see results without
              participating.
            MCP / harmonica-chat callers typically pass `participants` since
            programmatic and Telegram-distributed sessions usually want
            distributed visibility.
        distribution:
          type: array
          items:
            $ref: '#/components/schemas/DistributionTarget'
          description: Distribution channels for the session (e.g. Telegram groups)
      required: [topic, goal]

    DistributionTarget:
      type: object
      description: A distribution channel where the session should be announced.
      properties:
        channel:
          type: string
          enum: [telegram]
          description: Distribution channel type
        group_id:
          type: string
          description: Channel-specific group identifier (e.g. Telegram chat ID)
      required: [channel, group_id]

    ChatRequest:
      type: object
      description: Send a message in a conversational facilitation session.
      properties:
        content:
          type: string
          description: The participant's message
        participant_id:
          type: string
          description: Unique identifier for the participant (e.g. Telegram user ID)
        participant_name:
          type: string
          description: Display name of the participant
      required: [content, participant_id, participant_name]

    ChatQuestionsRequest:
      type: object
      description: Submit pre-session question answers to start facilitation.
      properties:
        participant_id:
          type: string
          description: Unique identifier for the participant
        participant_name:
          type: string
          description: Display name of the participant
        answers:
          type: array
          items:
            type: object
            properties:
              question_id:
                type: string
              answer:
                type: string
            required: [question_id, answer]
      required: [participant_id, participant_name, answers]

    ChatResponse:
      type: object
      description: Facilitator response to a chat message.
      properties:
        message:
          type: object
          properties:
            role:
              type: string
              enum: [assistant]
            content:
              type: string
              description: The facilitator's response
            is_final:
              type: boolean
              description: Whether the facilitator considers this conversation complete
          required: [role, content, is_final]
        thread_id:
          type: string
          description: The participant's thread ID in this session
      required: [message, thread_id]

    TelegramGroup:
      type: object
      description: A Telegram group registered to the user's account.
      properties:
        group_id:
          type: string
          description: Telegram chat ID
        group_name:
          type: string
          nullable: true
          description: Telegram group title
        topic_id:
          type: integer
          nullable: true
          description: Forum topic ID for bot announcements
        created_at:
          type: string
          format: date-time
      required: [group_id, created_at]

    RegisterTelegramGroupRequest:
      type: object
      properties:
        group_id:
          type: string
          description: Telegram chat ID
        group_name:
          type: string
          description: Telegram group title
        topic_id:
          type: integer
          description: Forum topic ID (if group has topics enabled)
      required: [group_id]

    SessionCreated:
      type: object
      description: Session object returned after creation. Extends SessionListItem with a join URL.
      properties:
        id:
          type: string
          format: uuid
        topic:
          type: string
        goal:
          type: string
        status:
          type: string
          enum: [active]
        participant_count:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        join_url:
          type: string
          format: uri
          description: Direct URL for participants to join the session
      required: [id, topic, goal, status, participant_count, created_at, updated_at, join_url]

    ContextSource:
      type: object
      description: A context source attached to a session (file, session snapshot, or MCP server).
      properties:
        id:
          type: string
          format: uuid
        session_id:
          type: string
          format: uuid
        source_type:
          type: string
          enum: [file, session, mcp]
        title:
          type: string
        position:
          type: integer
          description: Sort order within the session (lower = injected earlier in prompt).
        content_mode:
          type: string
          enum: [verbatim, chunked]
          nullable: true
          description: |
            `verbatim` — full text stored in the row.
            `chunked` — text split and embedded in `session_embeddings` for vector retrieval.
            `null` for MCP sources (no stored content).
        source_ref:
          type: string
          format: uuid
          nullable: true
          description: For `session` sources — the ID of the referenced session.
        mcp_config:
          type: object
          nullable: true
          description: For `mcp` sources — connection config and cached tool list.
          properties:
            url:
              type: string
              format: uri
            bearer:
              type: string
              nullable: true
            tool_allowlist:
              type: array
              nullable: true
              items:
                type: string
            cached_tools:
              type: array
              items:
                type: string
            consecutive_fails:
              type: integer
            status:
              type: string
              enum: [healthy, unhealthy]
        token_estimate:
          type: integer
          nullable: true
          description: Estimated token count for verbatim content.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required: [id, session_id, source_type, title, position, created_at, updated_at]

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum:
                - unauthorized
                - forbidden
                - not_found
                - validation_error
                - rate_limited
                - internal_error
                - unprocessable
            message:
              type: string
          required: [code, message]
      required: [error]

  parameters:
    sessionId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Session ID

  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: unauthorized
              message: Invalid or missing API key
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: forbidden
              message: You don't have access to this session
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: not_found
              message: Session not found
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: rate_limited
              message: Rate limit exceeded. Try again in 30 seconds.

paths:
  /me:
    get:
      summary: Get current user
      description: Returns user info and API key metadata for the authenticated user.
      operationId: getMe
      tags: [Account]
      responses:
        '200':
          description: User info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /sessions:
    post:
      summary: Create session
      description: |
        Creates a new deliberation session owned by the authenticated user.
        If `prompt` is omitted, a facilitation prompt is auto-generated server-side
        from the topic, goal, context, and critical fields (with a fallback to a basic prompt).
        Returns the created session with a `join_url` for sharing with participants.
      operationId: createSession
      tags: [Sessions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
      responses:
        '201':
          description: Session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionCreated'
        '400':
          description: Validation error (missing required fields)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: validation_error
                  message: topic is required
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      summary: List sessions
      description: |
        Returns sessions the authenticated user has access to (owns or participates in).
        Results are ordered by most recently updated first.
      operationId: listSessions
      tags: [Sessions]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, completed]
          description: Filter by session status
        - name: q
          in: query
          schema:
            type: string
          description: Search sessions by topic or goal
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Number of results per page
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
          description: Number of results to skip
        - name: distribution_channel
          in: query
          schema:
            type: string
            enum: [telegram]
          description: Filter by distribution channel
        - name: distribution_group_id
          in: query
          schema:
            type: string
          description: Filter by distribution group ID
      responses:
        '200':
          description: List of sessions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SessionListItem'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required: [data, pagination]
        '401':
          $ref: '#/components/responses/Unauthorized'

  /sessions/public:
    get:
      summary: List public sessions
      description: |
        Returns active sessions that hosts have marked as publicly accessible.
        No authentication required. Rate-limited by IP address (100 req/min).
        Use this endpoint to discover participation opportunities.
      operationId: listPublicSessions
      tags: [Public]
      security: []
      parameters:
        - name: q
          in: query
          schema:
            type: string
          description: Search sessions by topic or goal
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          description: Number of results per page
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
          description: Number of results to skip
      responses:
        '200':
          description: List of public sessions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicSessionListItem'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                required: [data, pagination]
        '429':
          $ref: '#/components/responses/RateLimited'

  /sessions/{id}:
    get:
      summary: Get session
      description: Returns full details of a session the user has access to.
      operationId: getSession
      tags: [Sessions]
      parameters:
        - $ref: '#/components/parameters/sessionId'
      responses:
        '200':
          description: Session details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update session
      description: |
        Update session metadata. At least one field must be provided.
        Requires editor role or higher on the session.
      operationId: updateSession
      tags: [Sessions]
      parameters:
        - $ref: '#/components/parameters/sessionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                topic:
                  type: string
                goal:
                  type: string
                context:
                  type: string
                critical:
                  type: string
                prompt:
                  type: string
                  description: Custom facilitation prompt for the AI facilitator
              minProperties: 1
      responses:
        '200':
          description: Updated session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          description: Validation error (no valid fields provided)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: validation_error
                  message: "No valid fields provided. Allowed fields: topic, goal, context, critical, prompt"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /sessions/{id}/questions:
    get:
      summary: Get session questions
      description: Returns the facilitation questions/prompts for a session.
      operationId: getSessionQuestions
      tags: [Sessions]
      parameters:
        - $ref: '#/components/parameters/sessionId'
      responses:
        '200':
          description: Session questions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Question'
                required: [data]
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /sessions/{id}/responses:
    get:
      summary: Get session responses
      description: |
        Returns all participant responses for a session, grouped by participant.
        Each participant's conversation thread includes both user messages and assistant (facilitator) messages.
      operationId: getSessionResponses
      tags: [Sessions]
      parameters:
        - $ref: '#/components/parameters/sessionId'
      responses:
        '200':
          description: Participant responses
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Participant'
                required: [data]
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      summary: Submit a response
      description: |
        Submit a response to an active session as the authenticated user.
        The session must be active and the user must have at least editor access.
      operationId: submitResponse
      tags: [Sessions]
      parameters:
        - $ref: '#/components/parameters/sessionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResponseSubmission'
      responses:
        '201':
          description: Response submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseCreated'
        '400':
          description: Validation error (empty content, session not active)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: validation_error
                  message: Session is not active
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /sessions/{id}/session-md:
    get:
      summary: Get session brief
      description: |
        Returns the structured SESSION.md brief as raw markdown.
        Auto-generated after summary creation. Returns 404 if not yet generated.
      operationId: getSessionMd
      tags: [Sessions]
      parameters:
        - $ref: '#/components/parameters/sessionId'
      responses:
        '200':
          description: SESSION.md brief
          content:
            text/markdown:
              schema:
                type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /sessions/{id}/summary:
    get:
      summary: Get session summary
      description: |
        Returns the AI-generated summary for a completed session.
        Returns null summary if the session hasn't been summarized yet.
      operationId: getSessionSummary
      tags: [Sessions]
      parameters:
        - $ref: '#/components/parameters/sessionId'
      responses:
        '200':
          description: Session summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id:
                    type: string
                    format: uuid
                  summary:
                    type: string
                    nullable: true
                  generated_at:
                    type: string
                    format: date-time
                    nullable: true
                required: [session_id, summary]
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Regenerate session summary
      description: |
        Regenerates the AI summary for the session and returns the refreshed
        summary. Requires editor role or above. May take up to ~90s for sessions
        with many participants (LARGE-tier synthesis).
      operationId: regenerateSessionSummary
      tags: [Sessions]
      parameters:
        - $ref: '#/components/parameters/sessionId'
      responses:
        '200':
          description: Regenerated session summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id:
                    type: string
                    format: uuid
                  summary:
                    type: string
                    nullable: true
                  generated_at:
                    type: string
                    format: date-time
                    nullable: true
                required: [session_id, summary]
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /sessions/{id}/scratchpad:
    post:
      summary: Seed or update scratchpad
      description: |
        Trigger cross-pollination scratchpad seeding or update for a session.
        The scratchpad tracks themes, emerging consensus, open tensions, and
        well-covered questions across all participant conversations.

        **Modes:**
        - `seed` (default): Process all user messages from scratch. Resumes from
          existing progress if the session was partially seeded.
        - `update`: Process only new messages since the last update.
        - `status`: Return current scratchpad state without processing.

        Cross-pollination must be enabled on the session. Requires editor role.

        For large sessions, seeding may take multiple calls (up to 5 minutes per
        call). Each batch is persisted to the database, so partial progress
        survives timeouts. Re-call the endpoint to continue.
      operationId: seedScratchpad
      tags: [Sessions]
      parameters:
        - $ref: '#/components/parameters/sessionId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                mode:
                  type: string
                  enum: [seed, update, status]
                  default: seed
                  description: Processing mode
      responses:
        '200':
          description: Scratchpad result
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [completed, partial, no_data, exists, empty]
                    description: |
                      `completed` — all messages processed.
                      `partial` — timed out, call again to continue.
                      `no_data` — no user messages in session.
                      `exists`/`empty` — status mode response.
                  themes:
                    type: integer
                    description: Number of themes identified
                  participants:
                    type: integer
                    description: Number of participants tracked
                  batches_processed:
                    type: integer
                    description: Batches completed in this call
                  batches_total:
                    type: integer
                    description: Total batches needed for remaining messages
                required: [status, themes, participants]
        '400':
          description: Cross-pollination not enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: validation_error
                  message: Cross-pollination is not enabled for this session
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /sessions/{id}/chat:
    post:
      summary: Send chat message
      description: |
        Send a message to a session's AI facilitator as a specific participant.
        The facilitator responds in a conversational style, guiding the participant
        through the deliberation topic. When the facilitator considers the conversation
        complete, `is_final` is set to `true`.

        This endpoint powers channel integrations (e.g. Telegram bot) where participants
        interact with the facilitator outside the web app.
      operationId: chatMessage
      tags: [Chat]
      parameters:
        - $ref: '#/components/parameters/sessionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
      responses:
        '200':
          description: Facilitator response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
        '400':
          description: Validation error (missing fields, session not active)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /sessions/{id}/chat/questions:
    post:
      summary: Submit pre-session answers
      description: |
        Submit answers to a session's pre-session questions and receive the
        facilitator's opening message. This starts the facilitation for the participant.

        Call this once per participant before using the `/chat` endpoint.
        The answers are passed to the facilitator as context for the conversation.
      operationId: submitChatQuestions
      tags: [Chat]
      parameters:
        - $ref: '#/components/parameters/sessionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatQuestionsRequest'
      responses:
        '200':
          description: Facilitator opening message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatResponse'
        '400':
          description: Validation error (missing fields, session not active)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /integrations/telegram/groups:
    get:
      summary: List Telegram groups
      description: List Telegram groups registered to the authenticated user's account.
      operationId: listTelegramGroups
      tags: [Integrations]
      responses:
        '200':
          description: List of registered Telegram groups
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TelegramGroup'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      summary: Register a Telegram group
      description: |
        Register or update a Telegram group on the authenticated user's account.
        If the group is already registered (same user + group_id), the name and topic_id are updated.
        Called by the Telegram bot during `/setup`.
      operationId: registerTelegramGroup
      tags: [Integrations]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterTelegramGroupRequest'
      responses:
        '201':
          description: Group registered (or updated)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TelegramGroup'
        '400':
          description: Validation error (missing group_id)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /integrations/telegram/groups/{groupId}:
    delete:
      summary: Unregister a Telegram group
      description: Remove a Telegram group from the authenticated user's account.
      operationId: deleteTelegramGroup
      tags: [Integrations]
      parameters:
        - name: groupId
          in: path
          required: true
          schema:
            type: string
          description: Telegram group chat ID
      responses:
        '204':
          description: Group removed
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /sessions/{id}/grounding:
    get:
      summary: Preview response-grounding cost
      description: |
        Returns how many participant responses in the session are grounded vs.
        ungrounded, and the credit cost (in cents) to ground the remaining ones.
        No charge, no work performed.
      operationId: getGroundingPreview
      tags: [Sessions]
      parameters:
        - $ref: '#/components/parameters/sessionId'
      responses:
        '200':
          description: Grounding cost preview
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total participant responses in the session.
                  grounded:
                    type: integer
                    description: Responses that already have extracted quotes.
                  ungrounded:
                    type: integer
                    description: Responses not yet grounded.
                  cost_cents:
                    type: integer
                    description: Credit cost (cents) to ground all ungrounded responses (10¢ each).
                required: [total, grounded, ungrounded, cost_cents]
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Ground ungrounded responses
      description: |
        Extracts verbatim quotes for every not-yet-grounded participant response
        and charges the session owner 10¢ per response actually grounded.
        Idempotent: already-grounded responses are skipped, so a repeat call with
        nothing new performs no work and no charge. Non-PRO callers receive 402
        if the owner's balance can't cover the estimate (no work is done).
      operationId: groundResponses
      tags: [Sessions]
      parameters:
        - $ref: '#/components/parameters/sessionId'
      responses:
        '200':
          description: Grounding result
          content:
            application/json:
              schema:
                type: object
                properties:
                  grounded:
                    type: integer
                    description: Responses grounded by this call.
                  attempted:
                    type: integer
                    description: Ungrounded responses found (some may have failed extraction).
                  charged_cents:
                    type: integer
                    description: Credits charged (cents). 0 on idempotent no-op or charge failure.
                  balance_after:
                    type: integer
                    nullable: true
                    description: Owner credit balance after the charge.
                  charge_failed:
                    type: boolean
                    description: Present and true if responses were grounded but the charge failed (a rare balance race); quotes are kept.
                  message:
                    type: string
                    description: Present on the idempotent no-op ("All responses already grounded").
                required: [grounded]
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          description: Insufficient credits (non-PRO owner). No responses grounded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: payment_required
                      message:
                        type: string
                  cost_cents:
                    type: integer
                  balance_cents:
                    type: integer
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /sessions/{id}/regenerate-facilitation-prompt:
    post:
      summary: Recompose facilitation prompt
      description: |
        Recomposes the facilitation prompt and Session design recap from the
        session's current layered inputs: the Brief fields (`topic`, `goal`,
        `critical`, `context`), the host's HARMONICA.md, and the active
        template's `facilitation_prompt`.

        Returns the proposed values **without persisting** them. The caller
        should present them for host confirmation, then PATCH `/sessions/{id}`
        with `prompt`, `prompt_summary`, and `prompt_generated_from` to save
        (and optionally `template_id` + `cross_pollination` on a template
        switch).

        Pass `?templateId=<id>` to override the session's current
        `template_id` for the recompose — used by the Template switcher on
        Session design tab to preview what the prompt would look like with a
        different template, before the host commits.

        Requires **editor** access on the session.
      operationId: regenerateFacilitationPrompt
      tags: [Sessions]
      parameters:
        - $ref: '#/components/parameters/sessionId'
        - in: query
          name: templateId
          required: false
          schema:
            type: string
          description: |
            Override the session's `template_id` for this recompose. HAR-868 —
            used by the Template switcher on Session design tab.
      responses:
        '200':
          description: Proposed facilitation prompt and recap
          content:
            application/json:
              schema:
                type: object
                properties:
                  facilitation_prompt:
                    type: string
                    description: Regenerated facilitation prompt text.
                  prompt_summary:
                    type: string
                    description: Short Session design recap derived from the facilitation prompt.
                  prompt_generated_from:
                    type: object
                    description: Snapshot of the session fields used to generate this prompt.
                    properties:
                      topic:
                        type: string
                      goal:
                        type: string
                      critical:
                        type: string
                      context:
                        type: string
                    required: [topic, goal, critical, context]
                  template_id:
                    type: string
                    nullable: true
                    description: The `template_id` the recompose used (session's current, or the `templateId` query override).
                  cross_pollination_default:
                    type: boolean
                    nullable: true
                    description: |
                      `cross_pollination_default` on the target template. The
                      Template switcher surfaces a snap suggestion when this
                      differs from the session's current `cross_pollination`
                      setting.
                required:
                  - facilitation_prompt
                  - prompt_summary
                  - prompt_generated_from
                  - template_id
                  - cross_pollination_default
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          description: LLM generation failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /sessions/{id}/regenerate-welcome:
    post:
      summary: Regenerate welcome message and meta description
      description: |
        Re-generates the participant-facing `welcome_message` and `meta_description`
        from the session's current `topic`, `goal`, `critical`, and `context` fields.

        Returns the proposed copy **without persisting** it. The caller should
        present it for host confirmation, then PATCH `/sessions/{id}` with
        `welcome_message` and `meta_description` to save.

        Requires **editor** access on the session.
      operationId: regenerateWelcome
      tags: [Sessions]
      parameters:
        - $ref: '#/components/parameters/sessionId'
      responses:
        '200':
          description: Proposed welcome message and meta description
          content:
            application/json:
              schema:
                type: object
                properties:
                  welcome_message:
                    type: string
                    description: Participant-facing welcome copy shown on the session landing page.
                  meta_description:
                    type: string
                    description: Short description used for link previews.
                required: [welcome_message, meta_description]
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '502':
          description: LLM generation failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /sessions/{id}/context-sources/file:
    post:
      summary: Upload a file context source
      description: |
        Upload a file (Markdown, plain text, or PDF) as a context source for the session.
        PDFs are extracted to text via pdf2json; the extracted text then follows the same size
        rule. Files whose text is ≤ 50 KB are stored verbatim in the source row; larger files
        are chunked and embedded into `session_embeddings` for vector search. A PDF with no
        extractable text layer (scanned / image-only) is rejected with a 400.

        Allowed MIME types: `text/markdown`, `text/plain`, `application/pdf`.
        Maximum file size: 4 MB (Vercel route body limit).
        Maximum sources per session: 20.

        Requires a Pro, LTD, or ENTERPRISE subscription.
      operationId: uploadContextSourceFile
      tags: [Context Sources]
      parameters:
        - $ref: '#/components/parameters/sessionId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: "File to upload. Allowed types: text/plain, text/markdown, application/pdf."
                title:
                  type: string
                  description: |
                    Human-readable title for the source. Defaults to the file name if omitted.
      responses:
        '201':
          description: Context source created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: Unique ID of the new context source row.
                  session_id:
                    type: string
                    format: uuid
                  source_type:
                    type: string
                    enum: [file]
                  title:
                    type: string
                  content_mode:
                    type: string
                    enum: [verbatim, chunked]
                    description: |
                      `verbatim` — full text stored in the row; `chunked` — text split and
                      embedded in `session_embeddings` for vector retrieval.
                  created_at:
                    type: string
                    format: date-time
                required: [id, session_id, source_type, title, content_mode, created_at]
        '400':
          description: |
            Validation error — missing file, oversized, unsupported MIME type, or a PDF with
            no extractable text layer (scanned / image-only).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: validation_error
                  message: 'Unsupported file type: image/png (filename: chart.png). Allowed: .md, .markdown, .txt, .pdf'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Insufficient permissions or tier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: forbidden
                  message: Context sources require a Pro subscription
        '422':
          description: Source cap reached (20 per session)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: validation_error
                  message: Source cap reached (20 per session)
        '500':
          description: Ingestion or embedding failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /sessions/{id}/context-sources:
    get:
      summary: List context sources
      description: |
        Returns all context sources attached to the session, ordered by position then created_at.
        No tier requirement — read path is unconditional.
      operationId: listContextSources
      tags: [Context Sources]
      parameters:
        - $ref: '#/components/parameters/sessionId'
      responses:
        '200':
          description: List of context sources
          content:
            application/json:
              schema:
                type: object
                required: [sources]
                properties:
                  sources:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContextSource'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /sessions/{id}/context-sources/session:
    post:
      summary: Add a session reference as a context source
      description: |
        Snapshot another session's SESSION.md and add it as a context source.
        The content is captured at add-time (not live). Use `/refresh` to re-snapshot.

        The caller must have at least **viewer** access on the source session.
        Requires a Pro, LTD, or ENTERPRISE subscription.
        Maximum 20 sources per session.
      operationId: addSessionContextSource
      tags: [Context Sources]
      parameters:
        - $ref: '#/components/parameters/sessionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [source_ref]
              properties:
                source_ref:
                  type: string
                  format: uuid
                  description: ID of the session whose SESSION.md to snapshot.
                title:
                  type: string
                  description: |
                    Human-readable title. Defaults to the source session's topic if omitted.
      responses:
        '201':
          description: Context source created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextSource'
        '400':
          description: Validation error (missing source_ref, source has no SESSION.md)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Insufficient permissions or tier, or no access to source session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Source cap reached (20 per session)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /sessions/{id}/context-sources/mcp:
    post:
      summary: Add an MCP server as a context source
      description: |
        Perform an MCP handshake, enumerate available tools, and register the server
        as a context source. The tool list is cached in `mcp_config.cached_tools`.
        Use `/refresh` to re-enumerate tools when the server changes.

        Requires a Pro, LTD, or ENTERPRISE subscription.
        Maximum 20 sources per session.
      operationId: addMcpContextSource
      tags: [Context Sources]
      parameters:
        - $ref: '#/components/parameters/sessionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url, title]
              properties:
                url:
                  type: string
                  format: uri
                  description: SSE endpoint of the MCP server.
                bearer:
                  type: string
                  nullable: true
                  description: Optional Bearer token for authenticated MCP servers.
                tool_allowlist:
                  type: array
                  nullable: true
                  items:
                    type: string
                  description: |
                    If provided, only these tools will be used. All listed tools must exist
                    on the server or the request fails with 400.
                title:
                  type: string
                  description: Human-readable name for this MCP source.
      responses:
        '201':
          description: MCP context source created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextSource'
        '400':
          description: Validation error (missing fields, allowlist mismatch, handshake failure)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: validation_error
                  message: "MCP server doesn't expose allowlisted tools: missing_tool"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Insufficient permissions or tier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Source cap reached (20 per session)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /sessions/{id}/context-sources/{source_id}:
    patch:
      summary: Update a context source
      description: |
        Update a context source's title, position, or mcp_config.
        At least one field must be provided.
        Requires a Pro, LTD, or ENTERPRISE subscription.
      operationId: updateContextSource
      tags: [Context Sources]
      parameters:
        - $ref: '#/components/parameters/sessionId'
        - name: source_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Context source ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: New display title.
                position:
                  type: integer
                  description: New sort position (lower = earlier in prompt).
                mcp_config:
                  type: object
                  description: Partial MCP config override (advanced use).
      responses:
        '200':
          description: Updated context source row
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextSource'
        '400':
          description: Validation error (no fields to update, invalid body)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Insufficient permissions or tier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete a context source
      description: |
        Permanently delete a context source.
        Cascades to associated `session_embeddings` rows (file chunks).
        Requires a Pro, LTD, or ENTERPRISE subscription.
      operationId: deleteContextSource
      tags: [Context Sources]
      parameters:
        - $ref: '#/components/parameters/sessionId'
        - name: source_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Context source ID
      responses:
        '204':
          description: Deleted (no body)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Insufficient permissions or tier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'

  /sessions/{id}/context-sources/{source_id}/refresh:
    post:
      summary: Refresh a context source
      description: |
        Re-fetch content for a session or MCP context source.
        - **session** sources: re-snapshot the source session's SESSION.md.
        - **mcp** sources: re-handshake the MCP server and update `cached_tools`.
        - **file** sources: not supported — re-upload via POST /file instead (returns 422).

        Requires a Pro, LTD, or ENTERPRISE subscription.
      operationId: refreshContextSource
      tags: [Context Sources]
      parameters:
        - $ref: '#/components/parameters/sessionId'
        - name: source_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Context source ID
      responses:
        '200':
          description: Updated context source row
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContextSource'
        '400':
          description: Ingest failure (e.g. source session no longer has SESSION.md)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Insufficient permissions or tier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: File sources cannot be refreshed — re-upload required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error:
                  code: unprocessable
                  message: Re-upload to refresh file content

  /sessions/{id}/edit-history:
    get:
      summary: Get host_db edit history for a session
      description: HAR-861 — returns revision rows for tracked host_db fields. Editor role required.
      operationId: getSessionEditHistory
      tags: [Sessions]
      parameters:
        - $ref: '#/components/parameters/sessionId'
        - in: query
          name: field
          schema:
            type: string
          description: Filter to a single field (e.g., 'prompt', 'goal').
      responses:
        '200':
          description: revisions + per-field counts
          content:
            application/json:
              schema:
                type: object
                properties:
                  revisions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        field:
                          type: string
                        value:
                          type: string
                        source:
                          type: string
                          enum: [manual_edit, brief_drift_cascade, template_switch, stall_review_apply, create_session]
                        created_at:
                          type: string
                          format: date-time
                        created_by:
                          type: [string, 'null']
                      required: [id, field, value, source, created_at, created_by]
                  counts:
                    type: object
                    additionalProperties:
                      type: object
                      properties:
                        count:
                          type: integer
                        last_edited:
                          type: string
                          format: date-time
                      required: [count, last_edited]
                required: [revisions, counts]
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
